.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.confirm {
  color: blue;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-left: auto;
  margin-right: auto;
}

togglable {
  justify-content: 'center';
}
